@CHARSET "UTF-8";

body {
	background-color: #708090;
}

.wrapper {
	width: 1000px;
	height: auto;
	min-height: 800px;
	border-radius:5px;
	margin: 0 auto;
	background: url("../images/fon.png");
	background-repeat: no-repeat repeat-x;
	border: 1px solid white;


}

.header {
	height: 100px;
}

.logo {
	position: absolute;
	margin-left: 20px;
	margin-top: 20px;
	width: 300px;
	height: 37px;
	background-image: url("../images/log_edu.png");
	
	
}
.footer{
	clear: both;
}

#picture {
	width: 200px;
	height: 50px;
}

.autentification {
	width: 300px;
	height: 50px;
	position: absolute;
	margin-left: 700px;
	margin-top: 20px;
	font: 14px sans-serif;
	color: #FDF5E6;
}

.autentification input {
	border-radius: 5px;
	background-color: #FDF5E6;
}

.autentification a {
	margin-top: 15px;
	text-decoration: none;
}

.login_form {
	color: black;
	display: none;
z-index: 5;

width: 250px;
height: 150px;
position: absolute;
background-color: white;
border-radius:5px;
border: 1px solid grey; 
margin-top: 10px;
margin-left: 5px;

}
.login_form input{
	margin-top: 10px;
	height: 25px;
}
.mError {
	display: none;
}

.login_button {
background: url("../images/sign_icon.png");
margin-top: 10px;
margin-left: -50px;
color: white;
}

.show {
	margin-top: 15px;
	border-radius: 15px;
	font: 14px sans-serif;
	color: white;
	border: none;
	background: url("../images/sign_icon.png");
	display: block;
	cursor: pointer;
	height: 25px;
	width: 80px;
	border: 1px solid gray;
	margin-left: -80px;
}

.show:hover, .registration:hover {
	background: url("../images/nav_icon_hover.png");
}


.registration {
	background: url("../images/sign_icon.png");
	margin-left: 10px;
	padding: 5px 4px 3px 4px;
	font: 14px sans-serif;
	color: white;
	border-radius: 5px;
	display: block;
	margin-top: 10px;
	position: absolute;
}

.context {
	width: 960px;
	height: auto;
	min-height: 800px;
	background-color: white;
	border-radius: 5px;
	position: relative;
	background-color: #FAF0E6;
	clear: both;
		overflow: auto;
}

.nav ul>li {
	list-style-type: none;
	float: left;
}

.navigation_block {
	height: 46px;
	width: 915px;
	margin-top: 10px;
	margin-left: 10px;
	position: absolute;
	background: url("../images/nav_icon.png");
	border-radius: 5px;
	
}

.nav ul>li a {
	color: white;
	text-decoration: none;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 12px;
	padding-bottom: 11px;
	font: 20px sans-serif;
	display: block;
	cursor: pointer;
	border-right: 1px solid grey;
	padding-bottom: 11px;
}

.nav ul>li a:hover {
	background: url("../images/nav_icon_hover.png");
}

#home_link {
	margin-left: -21px;
}

.search {
	height: 40px;
	width: 250px;
	margin-left: 650px;
	margin-top: 5px;
	position: absolute;
}

.search input {
	width: 240px;
	height: 25px;
	margin-top: 2px;
	border-radius: 5px;
	font: 20px sans-serif;
	border-radius: 5px;
}

#button_search {
	position: absolute;
	margin-left: -30px;
	margin-top: 4px;
}

.context {
	width: 940px;
	height: auto;
}

.news {
	width: 300px;
	height: 300px;
	outline: 1px solid green;
	position: absolute;
	margin-top: 100px;
	margin-left: 625px;
}

.course_list {
	margin-top: 80px;
	margin-left: 40px;
	width:680px;
	position:absolute;
	min-height: 600px;
	border-radius: 5px;
	border: 1px solid gray;
	background-color: #FAFAFA;

}

}

#unit{
	
	position: absolute;

		
}
#unit li{
	list-style-type: none;
	background-color: #FFF0EC;
	float: left;
	width: 280px;
	height: 200px;
	margin-left: 10px;
	margin-top: 10px;
	text-align: left;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom:5px;
	border-radius: 5px;
	border: 1px solid gray;

}

#unit h1{
	font: bold 18px solid;
	color: #D03A39;
	margin-top: 5px;
}
#unit span{
	font: bold 14px sans-serif;
	 color: #64635E;
}





.sorting {
	width: 195px;
	height: 120px;

	margin-left: 725px;
	margin-top:100px;
	position: absolute;
}

.sorting>ul>li {
	list-style-type: none;
}

#sorting-list {
	display: none;
	list-style-type: none;
	vertical-align: middle;
	font: 17px sans-serif;
	text-align: left;
	height: 120px;

}

#select-sort {
	font: 15px sans-serif;
	color: white;
	width: 190px;
	cursor: pointer;
	background: url("../images/nav_icon.png");
	padding: 2px 40px;
	border-radius: 5px;
	
}

.registration_block {
	width: 800px;
	height: 600px;
	border: 1px solid black;
	position: relative;
	margin-top: 90px;
	margin-left: -100px;
}

.registration_block h1 {
	background-color: white;
	width: 160px;
	margin-top: -17px;
	margin-left: -200px;
	z-index: 100;
	font: bold 25px sans-serif;
}

.error {
  
        font: 14px sans-serif; 
        color: red;
       margin-right: 20px;
}
.error> input{
	   
        border: 3px solid #d50000;
}
#registration_form{
	text-align: left;
	margin-top: 20px;
	margin-left: 15px;
	
}
#registration_form input[type="text"]{
	width: 250px;
	height: 30px;
	margin-top: 20px;
	color: black;
}
input.error{
    border: 1px solid #FF7264;
}
#registration_form{
	font: 18px sans-serif;
}
#registration_form span{
	color: red;
	margin-left: 5px;
	margin-right: 5px;
}

#reg_button{
	width: 110px;
	height: 25px;
	margin-left: 245px;
	margin-top: 20px;
background-image: url("../images/sign_icon.png");
border-radius: 5px;
font: 14px sans-serif;
color: white;
cursor: pointer;

}
#reg_button:hover{
	background-image: url("../images/sign_icon_hover.png");
}
#course_empty{
	margin-top: 40%;
	font: 25px sans-serif;
	color: black;
}
#register_course{
	margin-top:10px;
	margin-left:10px;
	padding: 3px 3px;
	color:white;
	border-radius:5px;
	background-color: #E30000;
	position: absolute;
	text-decoration: none;
}
#register_course:hover{
	background-color: #D9BF89;
	color: #E30000;
}
.admin_menu{
	width: 150px;
	height: 200px;
	border:1px solid grey;
	border-radius:5px;
	margin-left: -660px;
	margin-top:20px;
	text-align: left;
	background-color: #FAEBD7;
}
.admin_menu>ul>li{
	list-style-type: none;
	width: 70px;
	margin-top: 5px;
	margin-left: -10px;

}
.admin_menu>ul>li>a{
	text-decoration: none;
	background: url("../images/nav_icon.png");
	color: white;
	font: 16px sans-serif;
	width: 110px;
	height:30px;
	border:1px solid grey;
	border-radius:5px;
	display: block;
	text-align: left;
	
	
}
.admin_menu>ul>li>a.active{
	background:url("../images/nav_icon_hover.png");
}
.admin_menu>ul>li>a:hover{
	background:url("../images/nav_icon_hover.png");
}
.info{
	margin-top:-56px;
	width: 650px;
	min-height:400px;
	position: absolute;
	border:1px solid grey;
	border-radius:5px;
	background-color:#FAEBD7;
	margin-left: 15%;

	clear: both;
}
#user_name{
	color: white;
	font: 20px sans-serif;
	margin-left: 50%;
	margin-top: 20px;
}
#teacher_nav a.active{
	color:red;
	background-color: blue;
	
}
.teacher_info>ul>li>a{
	text-decoration: none;
	color: white;
	background: url("../images/button.png");
	padding: 2px 10px;
		margin-bottom: 20px;
}
.teacher_info>ul>li>a.active{
	background-color: black;
	background: url("../images/nav_icon_hover.png");
}
.teacher_info>ul>li{
	list-style-type: none;
	float: left;
	margin-top: 10px;
	margin-bottom: 20px;
}

.add_course{
	margin-left: 12px;
	margin-top: 12px;
	font: 20px sans-serif;
	color: #2F4F4F;
}
.add_course input[type="text"]{
	width: 140px;
	height: 25px;
	font: 14px sans-serif;
	color: black;
	background-color: #DCDCDC;
	padding-left: 10px; 
}
#add_course_button{
	padding: 5px 20px;
	margin-top: 10px;
	background: url("../images/nav_icon.png");
	border-radius:5px;
	color: white;
	font: 15px sans-serif; 
clear: b
}
#add_course_button:hover{
	background: url("../images/nav_icon_hover.png");
}
#list_courses{
	margin-top:20px;
	margin-left:32px;
	background-color: #DCDCDC;
	margin-bottom: 20px;
}
#list_courses td{
	padding-left: 10px;
	padding-top: 5px;
	font: 15px sans-serif;
	text-align: center;
}
#courses_list_title{
	background-color: #FAEBD7;
	color: #2F4F4F;
}
.manage_button{
	
	text-decoration: none;
	background: url("../images/button.png");
	cursor:pointer;
border-radius:5px;
padding:1px 5px;
	font: 14px italic;
	color: white;


}
.manage_button:hover{
	background: url("../images/nav_icon_hover.png");
}
#teacher_list{
clear: both;

}
#teacher_list{

	margin-left:25px;
	background-color: #DCDCDC;
	margin-bottom: -20px;
	

}
#teacher_list td{
	padding-left: 10px;
	padding-right:15px;
	padding-top: 5px;
	padding-bottom:10px;
	font: 15px sans-serif;
	text-align: center;
}
.edit_course{
		margin-left: 12px;
	margin-top: 12px;
	font: 20px sans-serif;
	color: #2F4F4F;
}
.edit_course input[type="text"]{
	width: 140px;
	height: 25px;
	font: 14px sans-serif;
	color: black;
	background-color: #DCDCDC;
	padding-left: 10px; 
}
#edit_course_button{
	padding: 5px 20px;
	margin-top: 10px;
	background: url("../images/nav_icon.png");
	border-radius:5px;
	color: white;
	font: 15px sans-serif; 
}
#teacher_table_title{
background-color: #FAEBD7;
	color: #2F4F4F;
}
.add_teacher{
	position: absolute;
	text-decoration: none;
	border-radius:5px;
	margin-left: 60%;
	
}
.regist{
	position: absolute;
	margin-top: 10%;

}
#button{
	background-image: url("../images/button.png");
	color: white;
	padding: 2px 5px;
	border-radius: 5px;
	margin-left: 10%;
	margin-top: 5%;
	cursor: pointer;
	font: 14px sans-serif;
}
#button:hover{
background-image: url("../images/nav_icon_hover.png");	
}
.cancel_button{
		background-image: url("../images/button.png");
	color: white;
	padding-bottom:4px;
padding-top:2px;
margin-top:32px;	
	border-radius: 5px;
	text-decoration: none;
	font: 14px sans-serif;
	margin-left: 5px;
	position: absolute;
	
}
.cancel_button:hover{
background-image: url("../images/nav_icon_hover.png");	
}
#teacher_form{
font: 14px sans-serif;
color: #2F4F4F;
clear: both;	
}
#teacher_form span{
	color: red;
	padding: 12px 5px;
	margin-top: 50px;
}
#teacher_form input[type="text"]{
	margin-bottom: 5px;
	border-radius: 5px;
}
.teacher_sign_menu>li{
	float: left;
	list-style-type: none;
	margin-left: 5px;
}
.sign_course{
	clear: both;
	margin-left: -50px;
	margin-top: 20px;
	border: 1px solid gray;
	border-radius:5px;
	height: 80px;
	background-color: #CDB79E;
}
.sign_course select{
	margin-top:10px;
	background-color:#DCDCDC;
	width: 120px;
	height: 20px;
border-radius: 5px;	
color:black;
}
.sign_course option{
	background-color: #DCDCDC;
	border-radius: 5px;
}
.teacher_list{
margin-top:25px;
	margin-left:-80px;
	width:500px;
	background-color: #DCDCDC;
	margin-bottom: -20px;
	

}
.teacher_list{
overflow:auto;
	clear: both;
	margin-bottom: 20px;
}
.teacher_list a{
	text-decoration: none;
}
.teacher_list td{
padding:5px 10px;
	font: 15px sans-serif;
	text-align: center;
}
.edit_sign{
	position: absolute;
	margin-left: -96px;
	margin-top: 10px;
}
.edit_sign table>tr>td{
	margin-left: 225px;
}
.edit_sign input[type="text"]{
	height: 20px;
	width: 120px;
	border:1px solid #CDCDC1;
	margin-left: 5px;
}
.edit_sign select{
	height: 23px;
	margin-left: 5px;
	background-color: #C1CDCD;
}
.edit_teacher{
	clear: both;
}
.edit_teacher h1{
	padding: 5px;
}
.edit_teacher input[type="text"], .edit_teacher input[type="password"]{
	width: 110px;
	height: 20px;
	border:1px solid #CDCDC1;
	margin-rigth: 5px;
	background-color: #C1CDCD;
}
.edit_course input[type="date"]{
	height: 27px;
	background-color: #DCDCDC;
}
.add_course  input[type="date"]{
	height: 27px;
	background-color: #DCDCDC;
}
.user_info{
	font: 15px sans-serif;
	margin-left: 20px;
}

.user_info td{
	padding-right: 50px;
	padding-top: 20px;
}
.info h5{
	margin-left: 20px;
	font: 20px sans-serif;
}
.students_list{
	margin-left: 70px;
	background-color: #DCDCDC;
	margin-top: 10px;
	font: 17px sans-serif;
	margin-bottom: 20px;
}
.students_list td{
	padding-right: 20px;
	padding-top: 10px;
}
.personal_cabinet_menu{
	width: 120px;
	height: 120px;
	border: 1px solid #5F9EA0;
	background-color: #CDC9C9;
	z-index: 6;
	position: absolute;
	margin-left: 800px;
	margin-top: 55px;
	border-radius: 5px;
	display: none;
}
.personal_cabinet_menu li{

	list-style-type: none;
	text-align: left;
	margin-top: 2px;
	
}
.personal_cabinet_menu a{
	text-decoration: none;
	color: black;
}
.personal_cabinet_menu a:hover{
	border-bottom: 1px dashed white;
	color: white;
}
.cabinet_link{
	margin-left: 790px;
	margin-top:25px;
	font:18px sans-serif;
	color:white;
	position: absolute;
	text-decoration: none;
	cursor: pointer;
}
.cabinet_link:hover{
	border-bottom: 1px dashed white;
}
.user_icon{
	margin-left: 200px;
	position: absolute;
	margin-top: 5px;
}

#course_link{
	padding-right: 10px;
}
.main_page_link{
	position: absolute;
	margin-left: -100px;
	margin-top: 20px;
	text-decoration: none;
	font: 16px sans-serif;
	color: #B32929;
}
.main_page_link:hover{
	border-bottom: 1px dashed #B32929;
	color: #B32929;
}

.add_input{
	float: left;
	width: 150px;
}
.add_course_title td{
	width: 150px;
}
#signed_button{
	background: url("../images/button.png");
	color: white;
	padding: 3px 7px;
	font: 15px sans-serif;
	border-radius: 5px;
	margin-top: 8px;
}
.journal{
	background-color: #DCDCDC;
	text-align: left;
	font: 15px sans-serif;
	width: 600px;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;

}
.journal tr td{
height: 30px;
}
.course_name{
	font: 26px sans-serif;
}
.course_name span{
	color: #B32929;
}
.edit_journal{
	text-decoration: none;
	color: white;
	padding: 4px 10px;
	background: url("../images/button.png");
	border-radius: 5px;
	
	margin-left: 550px;
}
.mark_input{
	width: 30px;
	height: 30px;
	text-align: center;
	border-radius: 5px;
	
}
.teachers_courses_list{
	margin-top: 20px;
	margin-left: 20px;
	
}
.teachers_courses_list li{
	list-style-type: none;
}
.teachers_courses_list a{
	text-decoration: none;
	font:15px sans-serif;
	color: #B32929;
}
.teachers_courses_list a:hover{
border-bottom: 1px dashed #B32929;
}
#teacher_info{
	padding-right: 36px;
}
.student_courses{
	width: 600px;
	margin-left: 40px;
	margin-top: 20px;
}
.open_button{
	text-decoration: none;
	color: white;
	background: url("../images/button.png");
	padding-right: 2px;
	border-radius: 5px;
}
.open_button:hover{
	background: url("../images/sign_icon_hover.png");
}
.theme_choise{
	margin-left: 710px;
	margin-top: 110px;
	clear: both;
}
#select-theme {
	font: 15px sans-serif;
	color: white;
	width: 190px;
	cursor: pointer;
	background: url("../images/nav_icon.png");
	padding: 2px 36px;
	border-radius: 5px;
	margin-top: 2px;
	
}
#select-teacher{
	font: 15px sans-serif;
	color: white;
	width: 190px;
	cursor: pointer;
	background: url("../images/nav_icon.png");
	padding: 2px 36px;
	border-radius: 5px;
	margin-top: 2px;
}
#select-teacher{
	padding: 2px 57px;
}
#teacher_list_choise{
margin-left:-1px;
	list-style-type: none;
	vertical-align: middle;
	font: 15px sans-serif;
	text-align: left;
	height: 120px;
	background-color: #FAF0E6;
	display: none;
}
#theme_list{
	list-style-type: none;
	vertical-align: middle;
	font: 17px sans-serif;
	text-align: left;
	height: auto;
	background-color: #FAF0E6;
	display: none;
}
#theme_list a, #teacher_list_choise a, #sorting-list a{
	text-decoration: none;
	color: #B32929;
}
#theme_list a:hover, #teacher_list_choise a:hover, #sorting-list a:hover{
	border-bottom: 1px dashed #B32929;

}
.teachers_list_all{
	width: 700px;
	height: auto;
	min-height: 600px;
	background-color: white;
	margin-top: 60px;
	border:1px solid gray;
	border-radius: 5px;
	
	
}
.teachers_list_all{
	margin-top: 60px;
}
.teachers_page{
	margin-top:20px;
	width: 700px;
	color: #C22929;
	margin-left: 20px;
	font: 15px sans-serif;
}
.teachers_page tr td{
	height: 40px;
}
.search input[type='submit']{
	width: 30px;
	height:30px;
	position: absolute;
	margin-top: -29px;
	margin-left: 210px;
	border: none;
	
}
.search_button{
	background: url("../images/search.png");
	background-color: white;
	
	display: block;

}
.mError2{
	font: 14px sans-serif red;
}
.teacher_list_courses{
	width: 500px;
	clear: both;
}
.line{border-bottom: 1px solid black;
height: 1px;
width: 100%;
margin-top: 50px;
}
.contact_info{
	margin-top: 20px;
}
.contact_info h1{
	color: #C22929;
	
}
.main_page{
	width: 700px;
	height: 600px;
	margin-top:80px;
	background-color: white;
	text-align: left;
	padding: 20px 20px;
	border-radius: 5px;
	border:1px solid gray;
	color: black;
	font: 16px sans-serif;
	padding-top: 10px;
}
.main_page h1{
	margin-left:20px;
padding-bottom:20px;

	font: 23px sans-serif;
	color: #C22929;
	
}
.main_page h2{
	font: 20px sans-serif;
	padding-bottom: 20px;
	color: #C22929;
}
.main_page p{
	padding-bottom: 10px;
	font: 15px cursive;
}
.main_page span{
	font: bold;
	color: #C22929;
}
.language_choise{
	width: 30px;
	height: 30px;
	background-image: url("../images/nav_icon.png");
	color: white;
	border-radius:5px; 
}
.locale_setting select{
	background-color: #FAF0E6;
	height: 30px;
	border-radius:5px;


}
.locale_setting{
	position: absolute;
	margin-left: 500px;
	margin-top: 30px;
}
.link_courses{
	text-decoration: none;
	color: black;
}
.link_courses:hover{
	border-bottom: 1px dashed black;
}